.light-mode .SearchComponents button{
    background-color: rgb(255, 255, 255);
    padding: .85em;
    margin-left: .5em;
}
.dark-mode .SearchComponents button{
    background-color: rgb(0, 0, 0);
    padding: .85em;
    margin-left: .5em;
}
.light-mode .SearchComponents button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: .85em;
    margin-left: .5em;
    transform: scale(1.1);
    transition: 0.8s ease-out;
}
.dark-mode .SearchComponents button:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    padding: .85em;
    margin-left: .5em;
    transform: scale(1.1);
    transition: 0.8s ease-out;
}
.SearchComponents input{
    width: 20em;
    height: 3em;
}